/* Container for crops page */
.crops-page {
  padding: 20px;
  position: relative; 
  min-height: 100vh;
  margin-left: 10%;  
}
/* All Crops title */
.crops-header h1 {
  text-align: center;        
  color: #006400;              
  font-style: italic;         
  margin-bottom: 20px;       
  font-size: 28px; 
  margin-top: 120px;              
}

/* Add Crop button */
.btn-add {
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: bold;

  position: fixed;   
  bottom: 20px;      
  right: 50px;     
  z-index: 1000;     

}

.btn-add:hover {
  background-color: #45a049;
}
/* Dashboard Container using Flexbox */
.dashboard-container {
      
  padding: 50px 30px 30px 30px;  
  max-width: 1200px;              
  margin-left: 10%;                
                      
}
.dashboard-container h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 80px;
  text-align: center;
  color: #45a049;
  
}
.dashboard-container h2 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 10px;
  text-align:left;
  color: #ff71bf;
  
}
.main-content h1{
 font-size: 2em;
  line-height: 1.1;
  margin-top: 80px;
  text-align: center; 
  
}
.form-group input,

.form-group select {
  width:100%;              
  padding: 6px 10px;      
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  box-sizing:content-box; 
    /
}


.form-group textarea {
  height: 25px;             
  resize: vertical;         
}
