.crop-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  gap: 12px;
}

.crop-form label {
  font-weight: bold;
}

.crop-form input,
.crop-form select,
.crop-form textarea {
  padding: 5px;
  border-radius: 6px;

  width: 100%;
}

.crop-form button {
  background-color: #5ed097;
  color: rgb(16, 27, 15);
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
 
}



